.input-container {
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    padding: 10px;
    border: 0 solid transparent;
    border-radius: 15px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}