#pk-map{
    width: 100%;
}
.city:hover {
    fill: #1D8348;
    transition: 600ms;
}

@media screen and (min-width: 768px) {
    #pk-map{
        position: relative;
        width: 540px;
        top:-20px
    }
}